

@{
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<div class="content">
    <div class="container">
        <div class="sidebar">
            <div class="avatar">
                <img class="avatar_photo" width="180px" height="183px" src="~/Img/avatar/ava.jpg" alt="avatar">
                <a class="btn" href="#">change photo</a>
            </div>
        </div>
        <div class="profile">
            <div class="profile_inner">
                <h2>Ilya Trakhimovich</h2>
                <p>Country: Belarus</p>
                <p>Profession: Road building</p>
                <p>Phone number: +375(29)1234567</p>
                <p class="hobies">Hobbies: C#</p>
            </div>
            <div class="btn_1">
                <button class="btn_cpi" type="button">change profile information</button>
            </div>
        </div>
    </div>
</div>

<div class="wall">
    <div class="container">
        <div class="news">
            <div class="new_item">
                <img class="new_icon" src="~/Img/news/virus.png" alt="new">
                <h4 class="new_topic">Coronavirus</h4>
                <div class="new_text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad inventore officia quia molestiae provident laborum consequatur unde amet quasi, modi commodi quod ex cum animi ut dicta quibusdam magni. Praesentium.
                </div>
            </div>
            <div class="new_item">
                <img class="new_icon" src="~/Img/news/sport.png" alt="new">
                <h4 class="new_topic">Sport</h4>
                <div class="new_text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic vero, voluptates voluptatum quidem perferendis porro reiciendis error. Totam, voluptas tenetur earum officiis asperiores nulla. Quidem minima tempore iusto est vitae.
                </div>
            </div>
            <div class="new_item">
                <img class="new_icon" src="~/Img/news/politics.png" alt="new">
                <h4 class="new_topic">Politics</h4>
                <div class="new_text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad inventore officia quia molestiae provident laborum consequatur unde amet quasi, modi commodi quod ex cum animi ut dicta quibusdam magni. Praesentium.
                </div>
            </div>
            <div class="new_item">
                <img class="new_icon" src="~/Img/news/programming.png" alt="new">
                <h4 class="new_topic">Programming</h4>
                <div class="new_text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad inventore officia quia molestiae provident laborum consequatur unde amet quasi, modi commodi quod ex cum animi ut dicta quibusdam magni. Praesentium.
                </div>
            </div>
            <div class="new_item">
                <img class="new_icon" src="~/Img/news/smile.png" alt="new">
                <h4 class="new_topic">Entertainment</h4>
                <div class="new_text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad inventore officia quia molestiae provident laborum consequatur unde amet quasi, modi commodi quod ex cum animi ut dicta quibusdam magni. Praesentium.
                </div>
            </div>
        </div>
    </div>
</div>

