@model List<AppBLL.DataTransferObject.UserProfileDTO>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<hr class="horizontal-border" />



<diV class="div-search-block text-center">
    @using (Ajax.BeginForm("UserSearch", "Home", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
</diV>

<div class="wall" id="results" style="margin-bottom:60px;">
    @Html.Partial("UserSearch", Model)
</div>

